<div [formGroup]="authForm" class="auth-container">
  <div class="action-box">
    <div class="title">{{ 'login.login' | translate }}</div>

    <span class="p-float-label">
      <input 
        type="text" 
        id="inputtext" 
        pInputText
        class="text"
        formControlName="username"
      /> 
      <label for="inputtext">{{ 'login.username' | translate }}</label>
    </span>

    <span class="p-float-label">
      <input 
        type="password" 
        id="inputtext" 
        pInputText
        pPassword
        formControlName="password"
        [feedback]="false"
        class="text"
      /> 
      <label for="inputtext">{{ 'login.password' | translate }}</label>
    </span>

    <div>
      <button
        class="sign-in" 
        type="button" 
        pButton  
        label="Sign in"
        (click)="signIn()"
      ></button>
  
      <div class="sentence">
        <span>{{ 'login.no-account' | translate }}</span>  
        <span class="registration">{{ 'login.sign-up' | translate }}</span>
      </div>
    </div>
  </div>
</div>

