<div class="users-container">
  <div class="user-title">
    <h1 class="text-title">Users</h1>
    <button 
      pButton 
      type="button"
      label="ADD"
    ></button>
  </div>
  <p-table
  [value]="users"
  responsiveLayout="scroll"
>
  <ng-template pTemplate="header" class="user-table">
      <tr>
          <th>NAME</th>
          <th>USERNAME</th>
          <th>EMAIL</th>
          <th>ACTIONS</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
      <tr>
          <td>{{user?.name}}</td>
          <td>{{user?.username}}</td>
          <td>{{user?.email}}</td>
          <td class="actions">
            <button 
              pButton
              type="button" 
              label="VIEW"
            ></button>
            <button 
              pButton
              type="button" 
              label="EDIT"
            ></button>
            <button 
              pButton
              type="button" 
              label="DELETE"
            ></button>
          </td>
      </tr>
  </ng-template>
</p-table>
  
</div>
