html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.p-button {
  height: 35px;
  width: 80px;
  padding: 2px !important;

  &-label {
    font-size: 14px;
  }
}
